* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.kata{
    float:center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.nav-link{
    font-size: 14px;
    
}

.yellowbutton{
    border-radius: 30px;
    font-size: 14px;
    
}
.img{
    margin: auto;

}